In [112]:
# Import Statement

# import tensorflow
# import keras
import pandas as pd
import numpy as np

In [118]:
calendar = pd.read_csv('calendarorigional.csv')
# demographics = pd.read_csv('demographics')
# econ_state = pd.read_csv('econ_state.csv')
# listings = pd.read_csv('listings.csv')
# venues = pd.read_csv('venes.csv')

In [119]:
min(calendar['date'])

'2015-10-15'

In [124]:
calendar_df = calendar.loc[calendar['available']=='t']
calendar_df['price'] = calendar_df['price'].apply(lambda x: x.replace("$",""))
calendar_df['price'] = calendar_df['price'].apply(lambda x: x.replace(",",""))
calendar_df['price'] = calendar_df['price'].apply(lambda x: float(x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [125]:
min(calendar_df['date'])

'2015-10-15'

In [126]:
# calendar_df.to_csv('cleancalendar2011.csv', sep='\t')

In [127]:
calendar_df['date_months'] = calendar_df['date'].apply(lambda x: x[0:7])
calendar_df['date_months'] = calendar_df['date_months'].apply(lambda x: x.replace("-", ""))
calendar_df['date_months'] = calendar_df['date_months'].apply(lambda x: int(x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
type(calendar_df['date_months'][0])

numpy.int64

In [129]:
calendar_df= calendar_df.loc[calendar_df['date_months'] > 201000]

In [130]:
calendar_df

          listing_id        date available   price metro_area  date_months
0           16228948  2018-03-25         t  3000.0         LA       201803
1           16228948  2018-03-24         t  3000.0         LA       201803
2           16228948  2018-03-23         t  3000.0         LA       201803
3           16228948  2018-03-22         t  3000.0         LA       201803
4           16228948  2018-03-21         t  3000.0         LA       201803
5           16228948  2018-03-20         t  3000.0         LA       201803
6           16228948  2018-03-19         t  3000.0         LA       201803
7           16228948  2018-03-18         t  3000.0         LA       201803
8           16228948  2018-03-17         t  3000.0         LA       201803
9           16228948  2018-03-16         t  3000.0         LA       201803
10          16228948  2018-03-15         t  3000.0         LA       201803
11          16228948  2018-03-14         t  3000.0         LA       201803
12          16228948  2018-03-13         t  3000.0         LA       201803
13          16228948  2018-03-12         t  3000.0         LA       201803
14          16228948  2018-03-11         t  3000.0         LA       201803
15          16228948  2018-03-10         t  3000.0         LA       201803
16          16228948  2018-03-09         t  3000.0         LA       201803
17          16228948  2018-03-08         t  3000.0         LA       201803
18          16228948  2018-03-07         t  3000.0         LA       201803
19          16228948  2018-03-06         t  3000.0         LA       201803
20          16228948  2018-03-05         t  3000.0         LA       201803
21          16228948  2018-03-04         t  3000.0         LA       201803
22          16228948  2018-03-03         t  3000.0         LA       201803
23          16228948  2018-03-02         t  3000.0         LA       201803
24          16228948  2018-03-01         t  3000.0         LA       201803
25          16228948  2018-02-28         t  3000.0         LA       201802
26          16228948  2018-02-27         t  3000.0         LA       201802
27          16228948  2018-02-26         t  3000.0         LA       201802
28          16228948  2018-02-25         t  3000.0         LA       201802
29          16228948  2018-02-24         t  3000.0         LA       201802
...              ...         ...       ...     ...        ...          ...
20611134    17606658  2018-01-15         t   107.0   portland       201801
20611135    17606658  2018-01-14         t   107.0   portland       201801
20611136    17606658  2018-01-13         t   135.0   portland       201801
20611137    17606658  2018-01-12         t   135.0   portland       201801
20611138    17606658  2018-01-11         t   107.0   portland       201801
20611139    17606658  2018-01-10         t   107.0   portland       201801
20611140    17606658  2018-01-09         t   107.0   portland       201801
20611141    17606658  2018-01-08         t   107.0   portland       201801
20611142    17606658  2018-01-07         t   107.0   portland       201801
20611143    17606658  2018-01-06         t   135.0   portland       201801
20611144    17606658  2018-01-05         t   135.0   portland       201801
20611145    17606658  2018-01-04         t   107.0   portland       201801
20611146    17606658  2018-01-03         t   107.0   portland       201801
20611147    17606658  2018-01-02         t   107.0   portland       201801
20611148    17606658  2018-01-01         t   107.0   portland       201801
20611149    17606658  2017-12-31         t   107.0   portland       201712
20611150    17606658  2017-12-30         t   135.0   portland       201712
20611151    17606658  2017-12-29         t   135.0   portland       201712
20611158    17606658  2017-05-03         t   119.0   portland       201705
20611159    17606658  2017-05-02         t   119.0   portland       201705
20611160    17606658  2017-05-01         t   119.0   portland       201705
20611161    17606658  2017-04-30         t   145.0   portland       201704
20611162    17606658  2017-04-29         t   145.0   portland       201704
20611163    17606658  2017-04-28         t   145.0   portland       201704
20611166    17606658  2017-04-25         t   119.0   portland       201704
20611167    17606658  2017-04-24         t   119.0   portland       201704
20611174    17606658  2017-04-17         t   119.0   portland       201704
20611180    17606658  2017-04-11         t   135.0   portland       201704
20611181    17606658  2017-04-10         t   135.0   portland       201704
20611182    17606658  2017-04-09         t   135.0   portland       201704

[10730212 rows x 6 columns]

In [107]:
# calendar_df.to_csv('cleancalendar2011.csv', sep='\t')

In [111]:
min(calendar_df['date'])

'2015-10-15'

In [167]:
calendarsum = pd.DataFrame(columns=['listing_id','date','metro','price'])
calendarsum

Empty DataFrame
Columns: [listing_id, date, metro, price]
Index: []

In [168]:
calendarsum

Empty DataFrame
Columns: [listing_id, date, metro, price]
Index: []

In [132]:
listing_id = list(calendar_df['listing_id'].unique())
lastmetro = ""
interatedAllDate = False
sum = 0

In [133]:
type(listing_id[0])

numpy.int64

In [ ]:
for each_id in log_progress(listing_id):
    id_df = calendar_df.loc[calendar_df['listing_id'] == each_id]
    metro = list(id_df['metro_area'].unique())[0]
    months_unique = list(id_df['date_months'].unique())
    for each_month in months_unique:
        price = id_df.loc[id_df['date_months'] == each_month]['price'].sum()
        new_row = {'listing_id':each_id,'date':each_month,'metro':metro,'price':price}
        calendarsum = pd.DataFrame(np.array([[each_id, each_month, metro, price]]), columns=['listing_id', 'date', 'metro', 'price']).append(calendarsum, ignore_index=True)

VBox(children=(HTML(value=''), IntProgress(value=0, max=48229)))

In [171]:
calendarsum.to_csv('calendarsum.csv', sep='\t')

In [172]:
calendarsum

       listing_id    date     metro    price
0        17606658  201704  portland  78000.0
1        17606658  201801  portland  78000.0
2        17606658  201802  portland  78000.0
3        17606658  201803  portland  78000.0
4        17606658  201804  portland  78000.0
5        17606658  201705  portland  78000.0
6        17606658  201706  portland  78000.0
7        17606658  201707  portland  78000.0
8        17606658  201708  portland  78000.0
9        17606658  201709  portland  78000.0
10       17606658  201710  portland  78000.0
11       17606658  201711  portland  78000.0
12       17606658  201712  portland  78000.0
13        4077103  201706  portland  78000.0
14        4077103  201707  portland  78000.0
15        6976600  201704  portland  78000.0
16        6976600  201705  portland  78000.0
17        6976600  201706  portland  78000.0
18        6976600  201707  portland  78000.0
19        6976600  201708  portland  78000.0
20        6976600  201709  portland  78000.0
21        6976600  201710  portland  78000.0
22        6976600  201711  portland  78000.0
23        6976600  201712  portland  78000.0
24        6976600  201801  portland  78000.0
25        6976600  201802  portland  78000.0
26        6976600  201803  portland  78000.0
27        6976600  201804  portland  78000.0
28       17792384  201704  portland  78000.0
29       17792384  201705  portland  78000.0
...           ...     ...       ...      ...
430619   14078522  201711        LA  78000.0
430620   14078522  201712        LA  78000.0
430621   14078522  201801        LA  78000.0
430622   14078522  201802        LA  78000.0
430623    8909380  201803        LA  78000.0
430624    8909380  201804        LA  78000.0
430625    8909380  201805        LA  78000.0
430626    8909380  201705        LA  78000.0
430627    8909380  201706        LA  78000.0
430628    8909380  201707        LA  78000.0
430629    8909380  201708        LA  78000.0
430630    8909380  201709        LA  78000.0
430631    8909380  201710        LA  78000.0
430632    8909380  201711        LA  78000.0
430633    8909380  201712        LA  78000.0
430634    8909380  201801        LA  78000.0
430635    8909380  201802        LA  78000.0
430636   16228948  201705        LA  78000.0
430637   16228948  201706        LA  78000.0
430638   16228948  201707        LA  78000.0
430639   16228948  201804        LA  78000.0
430640   16228948  201805        LA  78000.0
430641   16228948  201708        LA  78000.0
430642   16228948  201709        LA  78000.0
430643   16228948  201710        LA  78000.0
430644   16228948  201711        LA  78000.0
430645   16228948  201712        LA  78000.0
430646   16228948  201801        LA  78000.0
430647   16228948  201802        LA  78000.0
430648   16228948  201803        LA  78000.0

[430649 rows x 4 columns]

In [15]:
def log_progress(sequence, every=None, size=None, name='Items'):
    from ipywidgets import IntProgress, HTML, VBox
    from IPython.display import display

    is_iterator = False
    if size is None:
        try:
            size = len(sequence)
        except TypeError:
            is_iterator = True
    if size is not None:
        if every is None:
            if size <= 200:
                every = 1
            else:
                every = int(size / 200)     # every 0.5%
    else:
        assert every is not None, 'sequence is iterator, set every'

    if is_iterator:
        progress = IntProgress(min=0, max=1, value=1)
        progress.bar_style = 'info'
    else:
        progress = IntProgress(min=0, max=size, value=0)
    label = HTML()
    box = VBox(children=[label, progress])
    display(box)

    index = 0
    try:
        for index, record in enumerate(sequence, 1):
            if index == 1 or index % every == 0:
                if is_iterator:
                    label.value = '{name}: {index} / ?'.format(
                        name=name,
                        index=index
                    )
                else:
                    progress.value = index
                    label.value = u'{name}: {index} / {size}'.format(
                        name=name,
                        index=index,
                        size=size
                    )
            yield record
    except:
        progress.bar_style = 'danger'
        raise
    else:
        progress.bar_style = 'success'
        progress.value = index
        label.value = "{name}: {index}".format(
            name=name,
            index=str(index or '?')
        )